.series{
	margin-left:15px;
}
.series li{
	margin-bottom:25px;
}

.exportbox label{
	margin-left:15px;
	margin-bottom:10px;	
}
.export{
	margin-bottom:30px;
}
.export p{	
	font-size:16px;
}
.sidemenu{
	z-index: 1;
	position: absolute;
	width: 250px;
	margin-top: 51px;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
.sidemenu li {
	list-style-type: none;
	padding-right:10px;
}
.sidemenu a {
	padding-top:20px;
}